<div class="input-wrapper" [class.input-wrapper--error]="error()" [class.input-wrapper--disabled]="disabled()">
  @if (label()) {
    <label class="input-wrapper__label" [attr.for]="name()">
      {{ label() }}
      @if (required()) { <span class="input-wrapper__required">*</span> }
    </label>
  }
  <input
    class="input-wrapper__field"
    [type]="type()"
    [name]="name()"
    [placeholder]="placeholder()"
    [disabled]="disabled()"
    [readonly]="readonly()"
    [required]="required()"
    [attr.maxlength]="maxlength()"
    [(ngModel)]="value"
    (blur)="blurred.emit($event)"
    (focus)="focused.emit($event)"
  />
  @if (error()) {
    <span class="input-wrapper__error">{{ error() }}</span>
  }
</div>
