@if (open()) {
  <div class="popup-backdrop" (click)="onBackdropClick()">
    <div
      class="popup"
      [class.popup--sm]="size() === 'sm'"
      [class.popup--md]="size() === 'md'"
      [class.popup--lg]="size() === 'lg'"
      (click)="$event.stopPropagation()"
    >
      @if (title() || closable()) {
        <div class="popup__header">
          @if (title()) {
            <h3 class="popup__title">{{ title() }}</h3>
          }
          @if (closable()) {
            <button class="popup__close" (click)="onClose()">
              <atom-icon name="close" size="sm" />
            </button>
          }
        </div>
      }

      <div class="popup__body">
        <ng-content />
      </div>

      <ng-content select="[popup-footer]" />
    </div>
  </div>
}
